@model JobFinder.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<section id="registerForm" class="login-reg-content">
    <hgroup class="title">
        <p>Create a new account</p>
    </hgroup>
    <p style="color:blue">@ViewBag.poslanaPotvrda</p>
    <p style="color:red">@ViewBag.errorOccured</p>
    @*actionName, controllerName*@
    @using (Html.BeginForm("ContinueRegistration", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset style="width:300px">
            <legend>Registration Form</legend>
            <ol>
                <li class="form-title">@Html.LabelFor(m => m.UserName)</li>
                <li>@Html.TextBoxFor(m => m.UserName)</li>

                <li class="form-title">@Html.LabelFor(m => m.Email)</li>
                <li>@Html.TextBoxFor(m => m.Email)</li>

                <li class="form-title">@Html.LabelFor(m => m.Password)</li>
                <li>@Html.PasswordFor(m => m.Password)</li>

                <li class="form-title">@Html.LabelFor(m => m.ConfirmPassword)</li>
                <li>@Html.PasswordFor(m => m.ConfirmPassword)</li>

                <li class="form-title">@Html.LabelFor(m => m.tipkorisnika)</li>
                <li class="radio-min">@Html.RadioButtonFor(m => m.tipkorisnika, true) Employee</li>
                <li class="radio-min">@Html.RadioButtonFor(m => m.tipkorisnika, false) Employer</li>
            </ol>
            <input type="submit" value="Next" class="btn btn-primary pull-right" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
