@model JobFinder.Models.OglasiKategorijeModel



    <div class="clear"></div>
    <div id="slider-addoffer-wrapper" class="wrapper">
        <div class="pagewidth">
            <div class="slider">
                <h1>POST A <span>JOB</span></h1>

            </div>
            <div class="search-box">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 35px; padding-left: 25px; font-size: 16px; color:white">
                            Search for job with YOUJOB
                        </div>
                        <div class="col-md-3"><input type="text" placeholder="SEARCH FOR WORK" id="box1"></div>
                        <div class="col-md-3"><input type="text" placeholder="POSITION" id="box2"></div>
                        <div class="col-md-3"><input type="submit" value="SEARCH JOBS" id="btn-search"></div>
                    </div>
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
<div class="row sub-menu">
    <nav class="pull-left">
        <ul id="menu">
            <li>@Html.ActionLink("View your offers", "Index", "Poslodavac")</li>
        </ul>
    </nav>
</div>
    <div class="clear"></div>
    <div id="post-job-wrapper" class="wrapper">
        <div class="pagewidth">         
            <div class="clear"></div>
            <div class="left-side">
                <div class="box1">
                    <h1>FAQ</h1>
                    <ul>
                        <li>Sed ut perspiciatis unde omnis iste natus error</li>
                        <li>Sed ut perspiciatis unde omnis iste natus error</li>
                        <li>Sed ut perspiciatis unde omnis iste natus error</li>
                    </ul>
                </div>
            </div>
            <div class="right-side">
                <div class="box">
                    <h1>POST A JOB OFFER</h1>
                    @using (Html.BeginForm("DodavanjeOglasa", "Poslodavac", FormMethod.Post)) 
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

    <div class="left-box">

        <ul>
            <li>
                @Html.TextBoxFor(m => m.Oglasi.naziv_pozicije, htmlAttributes: new {@placeholder = "Name of work"})
                @Html.ValidationMessageFor(m => m.Oglasi.naziv_pozicije)
            </li>
           

            <li>
                @Html.TextBoxFor(m => m.Oglasi.kontakt_email, htmlAttributes: new {@placeholder = "Contact email"})
                @Html.ValidationMessageFor(m => m.Oglasi.kontakt_email)
            </li>
            
            <li>
                @Html.TextBoxFor(m => m.Oglasi.broj_pozicija, htmlAttributes: new {@placeholder = "Number of positions"})
                @Html.ValidationMessageFor(m => m.Oglasi.broj_pozicija)
            </li>
            
            <li>
                @Html.TextBoxFor(m => m.Oglasi.datum_zavrsetka, htmlAttributes: new {@placeholder = "Expiration date", type = "text", onfocus = "(this.type = 'date')", id = "date"})
                @Html.ValidationMessageFor(m => m.Oglasi.datum_zavrsetka)
            </li>
          
            <li>
                @Html.TextAreaFor(m => m.Oglasi.text_oglasa, htmlAttributes: new {@placeholder = "DESCRIPTION"})
                @Html.ValidationMessageFor(m => m.Oglasi.text_oglasa)
            </li>
          

        </ul>

        <div class="styled-select right-box">
            @Html.DropDownListFor(m => m.Oglasi.spol, new List<SelectListItem>
            {
                new SelectListItem {Text = "Both", Value = "Both"},
                new SelectListItem {Text = "Male", Value = "Male"},
                new SelectListItem {Text = "Female", Value = "Female"}
            }, "--Gender--")
        </div>
        <div class="styled-select right-box">
             @Html.DropDownListFor(m => m.kategorijeid, new MultiSelectList(Model.Kategorije, "idkategorije", "naziv"), "--Select category-- ")
             @Html.ValidationMessageFor(m => m.kategorijeid)
        </div>
        
        <div class="pull-right">
            <input type="submit" value="ADD JOB OFFER" id="submit" style="margin-left: 35px;margin-top: 15px;background:#257fd2;color: #fff;border: 1px solid #257fd2;font-size: 12px;border-radius: 3px;padding: 12px 53px">
        </div>

    </div>

 }
                   
                </div>
            </div>
        </div>
  </div>

    
<script type="text/javascript">
    function selectIngredient(select) {
        var option = select.options[select.selectedIndex];
        var ul = select.parentNode.getElementsByTagName('ul')[0];

        var choices = ul.getElementsByTagName('input');
        for (var i = 0; i < choices.length; i++)
            if (choices[i].value == option.value)
                return;

        var li = document.createElement('li');
        var input = document.createElement('input');
        var text = document.createTextNode(option.firstChild.data);

        input.type = 'hidden';
        input.name = 'ingredients[]';
        input.value = option.value;

        li.appendChild(input);
        li.appendChild(text);
        li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

        ul.appendChild(li);
    }
</script>