@model JobFinder.Models.BiografijeKategorijeModel

    <div id="slider-addoffer-wrapper" class="wrapper">
        <div class="pagewidth">
            <div class="slider">
                <h1>POST A <span>BIOGRAPHY</span></h1>
            </div>
            <div class="search-box">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 35px; padding-left: 25px; font-size: 16px; color:white">
                            Search for job with YOUJOB
                        </div>
                        <div class="col-md-3"><input type="text" placeholder="SEARCH FOR WORK" id="box1"></div>
                        <div class="col-md-3"><input type="text" placeholder="POSITION" id="box2"></div>
                        <div class="col-md-3"><input type="submit" value="SEARCH JOBS" id="btn-search"></div>
                    </div>
                }
            </div>
        </div>
    </div>
<div class="row sub-menu">
    <nav class="pull-left">
        <ul id="menu">
            <li>@Html.ActionLink("View offers", "PregledPoslova", "Posloprimac")</li>
            <li>@Html.ActionLink("Add biography", "DodavanjeBiografije", "Posloprimac")</li>
        </ul>
    </nav>
</div>
    <div id="post-job-wrapper" class="wrapper">
        <div class="pagewidth">
            <div class="left-side">
                <div class="box1">
                    <h1>Great bio advices</h1>
                    <ol style="list-style-type: circle; padding-left: 0;">
                        <li>Focus On What Makes You Unique</li>
                        <li>Keep It Simple</li>
                        <li>Avoid Clichés + Unnecessary Details</li>
                        <li>If You Can’t Write To Save Your Life, Find Someone Who Can</li>
                        <li>Update It At Least Once A Year</li>
                    </ol>
                </div>
            </div>
            <div class="right-side">
                <div class="box">
                    <div class="add-bio-form">
                        <h1>ADD BIOGRAPHY</h1>
                        @using (Html.BeginForm("DodavanjeBiografije", "Posloprimac", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="left-box">
                                <ul>
                                    <li class="styled-select right-box">
                                        @Html.DropDownListFor(m => m.idkategorije, new MultiSelectList(Model.Kategorije, "idkategorije", "naziv"), "--Select category-- ")
                                    </li>

                                    <li>@Html.LabelFor(m => m.Biografije.idealan_posao)</li>
                                    <li>@Html.TextBoxFor(m => m.Biografije.idealan_posao)</li>

                                    <li>@Html.LabelFor(m => m.Biografije.zanimanje)</li>
                                    <li>@Html.TextBoxFor(m => m.Biografije.zanimanje)</li>

                                    <li>@Html.LabelFor(m => m.Biografije.kompetencije)</li>
                                    <li>@Html.TextAreaFor(m => m.Biografije.kompetencije)</li>

                                    <li>@Html.LabelFor(m => m.Biografije.radno_iskustvo)</li>
                                    <li>@Html.TextAreaFor(m => m.Biografije.radno_iskustvo)</li>
                                </ul>
                                <div class="pull-right">
                                    <input type="submit" value="ADD BIOGRAPHY" id="submit" style="margin-left: 35px;margin-top: 15px;background:#257fd2;color: #fff;border: 1px solid #257fd2;font-size: 12px;border-radius: 3px;padding: 12px 53px">
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function selectIngredient(select) {
            var option = select.options[select.selectedIndex];
            var ul = select.parentNode.getElementsByTagName('ul')[0];

            var choices = ul.getElementsByTagName('input');
            for (var i = 0; i < choices.length; i++)
                if (choices[i].value == option.value)
                    return;

            var li = document.createElement('li');
            var input = document.createElement('input');
            var text = document.createTextNode(option.firstChild.data);

            input.type = 'hidden';
            input.name = 'ingredients[]';
            input.value = option.value;

            li.appendChild(input);
            li.appendChild(text);
            li.setAttribute('onclick', 'this.parentNode.removeChild(this);');

            ul.appendChild(li);
        }
    </script>
